{% extends 'pork02/base.html' %}

{% block myBody %}
	<!-- { if all_products } -->
	<!-- #"return Products.objects.all()"" in views.py returns an object called "object_list".
 			ListView returns object_list by defualt -->
	{% if object_list %}
		<h1>List of Products</h1>
		<ul>
			{% for prod in object_list %}
				<!-- Details -->
<!--				<li><a href="{% url 'pork02:product_detail' prod.prod_code_supplier %}">{{ prod.item_supplier }}</a></li> -->
				<li><a href="{% url 'pork02:product_detail' prod.prod_code_supplier %}" class="btn btn-primary btn-sm">{{ prod.item_supplier }}</a></li>

				<!-- Delete -->
				<form action="#" method="post" style="display: inline;">
					{% csrf_token %}
					<input type="hidden" name="prod.prod_code_supplier" value="{{ prod.prod_code_supplier }}"/>
					<button type="submit" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</form>
				
			{% endfor %}
		</ul>
	{% else %}
		<h3>No products in the database</h3>
	{% endif %}
{% endblock %}
