{% extends 'pork02/base.html' %}

{% block myBody %}
	<!-- { if all_products } -->
	<!-- #"return Products.objects.all()"" in views.py returns an object called "object_list".
 			ListView returns object_list by defualt -->
	{% if object_list %}
		<h1>List of Products</h1>
		<ul>
			{% for prod in object_list %}
				<li><a href="{% url 'pork02:product_detail' prod.prod_code_supplier %}">{{ prod.item_supplier }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<h3>No products in the database</h3>
	{% endif %}
{% endblock %}
